<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href="@{/css/style.css}"/>
        <link rel="stylesheet" type="text/css"th:href="@{/webjars/bootstrap/5.3.5/css/bootstrap.min.css}" />
        <meta charset="UTF-8" />
        <title>書籍登録一覧画面</title>
    </head>
    <body>
        <p>
            <span sec:authentication="principal.user.username">duke</span>さんログイン中。
        </p>
        <form th:action="@{/logout}" method="post"><input type="submit" class="btn btn-default btn-xs" value="ログアウト" /></form>
        <form th:action="@{/facilities/create}" th:object="${facilityForm}" method="post">
            <table class="table table-striped talbe-bordered table-condensed">
                <tr><td>タイトル：</td><td><input type="text" name="title" /></td></tr>
                <tr><td>型番：</td><td><input type="text" name="writter" /></td></tr>
                <tr><td>出版社：</td><td><input type="text" name="publisher" /></td></tr>
                <tr><td>価格：</td><td><input type="text" name="price" /></td></tr>

                <tr><td>品名：</td><td><input type="text" name="pro_name" /></td></tr>
                <tr><td>型番：</td><td><input type="text" name="model_no" /></td></tr>
                <tr><td>メーカ：</td><td><input type="text" name="maker" /></td></tr>
                <tr><td>仕様：</td><td><input type="text" name="siyou" /></td></tr>
                <tr><td>耐用年数：</td><td><input type="text" name="t_year" /></td></tr>
                <tr><td>購入日：</td><td><input type="text" name="date" /></td></tr>
                <tr><td>減価償却：</td><td><input type="text" name="genka_syoukyaku" /></td></tr>
                <tr><td>使用可能：</td><td><input type="checkbox" name="useable" /></td></tr>
                <tr><td>貸出可能：</td><td><input type="checkbox" name="lentable" /></td></tr>
                <tr><td>設置場所：</td><td><input type="text" name="place" /></td></tr>
                <tr><td>使用期限：</td><td><input type="text" name="limit" /></td></tr>
            </table>
            <input type="submit" value="作成" />
        </form>
        <hr />
        <table>
            <tr th:each="facility : ${facilities}">
                <td th:text="${facility.id}">100</td>
                <td th:text="${facility.title}">タイトルＡ</td>
                <td th:text="${facility.writter}">著者Ａ</td>
                <td th:text="${facility.publisher}">出版社Ａ</td>
                <td th:text="${facility.price}">100</td>
                <td>
                    <form th:action="@{/facilities/edit}" method="post">
                        <input type="submit" name="form" value="編集" />
                        <input type="hidden" name="id" th:value="${facility.id}"/>
                    </form>
                </td>
                <td>
                    <form th:action="@{/facilities/delete}" method="post">
                        <input type="submit" name="form" value="削除" />
                        <input type="hidden" name="id" th:value="${facility.id}"/>
                    </form>
                </td>
            </tr>
        </table>
    </body>
</html>